body {
    margin: 0;
    height: 100vh;
    background-color: #1f2a38;
    color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    padding: 10px;
}

.hamburger span {
    height: 3px;
    border-radius: 2px;
    background: #f1f1f1;
    display: block;
}

.hamburger:hover {
    background: rgba(255, 255, 255, 0.4)
}

.menu {
    position: fixed;
    left: 10px;
    top: 10px;
    height: 730px;
    width: 150px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: none;
    align-items: center;
    flex-direction: column;
}

.back-btn {
    position: fixed;
    left: 15px;
    top: 20px;
    background: rgba(255, 255, 255, 0.01);
    outline: none;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
    color: #f1f1f1;
}

.back-btn:hover {
    text-decoration: underline;
}

.menu-inner {
    text-decoration: none;
    color: #f1f1f1;
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    text-shadow: 1px 10px 30px rgba(0, 0, 0, 0.25);
}

.menu-inner:hover {
    text-decoration: underline;
}

.box {
    height: 600px;
    width: 400px;
    background: #848485;
    box-shadow: 0px 10px 30px rgb(0, 0, 0);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin: 10px;
    font-size: xx-large;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    background: #d7d7d7;
}

.btn1 {
    height: 75px;
    width: 75px;
    border-radius: 10px;
    margin: 10px;
    font-size: xx-large;
    font-weight: 600;
    cursor: pointer;
}

.btn1:hover {
    background: #d7d7d7;
}

.answer {
    position: fixed;
    top: 60px;
    right: 40px;
    width: 300px;
    height: 150px;
    background: #848485;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

.clear-btn {
    position: fixed;
    right: 50px;
    top: 180px;
    background: none;
    border: none;
    color: white;
}