* {
    color: rgb(228, 226, 226);
    box-sizing: border-box;
    font-family: system-ui, Arial, sans-serif;
}

body {
    background: #1e1e1e;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 60px;
}

.hamburger {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    padding: 10px;
}

.hamburger span {
    height: 3px;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.7);
    display: block;
}

.hamburger:hover {
    background: rgba(255, 255, 255, 0.4)
}

.menu {
    position: fixed;
    left: 10px;
    top: 10px;
    height: 810px;
    width: 232px;
    background: rgba(255, 255, 255, 0.10);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);
    display: none;
    align-items: center;
    flex-direction: column;
}

.back-btn {
    position: fixed;
    left: 15px;
    top: 20px;
    background: rgba(255, 255, 255, 0.01);
    outline: none;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

.back-btn:hover {
    text-decoration: underline;
}

.menu-inner {
    text-decoration: none;
    color: rgb(228, 226, 226);
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    text-shadow: 1px 10px 30px rgba(0, 0, 0, 0.25);
}

.menu-inner:hover {
    text-decoration: underline;
}


.box {
    width: 550px;
    min-height: 220px;
    background: rgba(255, 255, 255, 0.10);
    padding: 24px;
    border: 1px solid black;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question1 {
    font-size: 20px;
    margin-left: 10px;
}


.search-value {
    background: rgb(228, 226, 226);
    color: black;
    font-size: 15px;
    padding: 8px 9px;
    border-radius: 10px;
    margin-left: 10px;
}

.search-btn {
    background: rgb(228, 226, 226);
    padding: 8px 9px;
    font-size: 15px;
    border-radius: 10px;
    margin-left: 10px;
    outline: none;
    border: 1px solid transparent;
    color: black;
    cursor: pointer;
}

.search-btn:hover {
    background: rgb(201, 200, 200);
}